.page-services {
  background-image: url('../images/undraw_finance_0bdk.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% 60px;
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 100% 80px;
  }
  @include media-breakpoint-up(md) {
    background-size: 50%;
    background-position: 100% 80px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 40%;
    background-position: 100% 80px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 40%;
    background-position: 100% 80px;
  }
  @include media-breakpoint-up(xl) {
    background-size: 30%;
    background-position: 100% 80px;
  }
  .content {
    ul {
      padding-left: 0;
    }
  }
}
