.page-teams {
  background-image: url('../images/undraw_hang_out_h9ud.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 100% -20px;
  @include media-breakpoint-up(sm) {
    background-size: 40%;
    background-position: 100% 40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 40%;
    background-position: 100% 40px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 30%;
    background-position: 100% 80px;
  }
}
